@use "../variables/" as *;
@use "sass:color";



.gallery{
    display:flex;
    flex-wrap:wrap;
    background-color:$secondary-color;
    width:100%;
    padding-top:8rem;
}

.gallery__content-left{
    flex:0 0 15.3rem;
   
    
}

.gallery__content-middle{
    flex:0 0 25rem;
    
}

.gallery__content-right{
    flex:0 0 20rem;
    z-index:1;
    padding-right:1;
    padding-left:7rem;
    padding-top:1rem;
    position:relative;
}

.gallery-heading{
    font-size:1.5rem;
    color:$primary-color;
    position:relative;
    font-family:arial;
    font-weight:600;

    &::before{
        content:"Einblicke";
        color:rgba(43,59,47, 0.15);
        position:absolute;
        font-size:3.5rem;
        left:-4.5rem;
        top:-2.25rem;
        text-transform:uppercase;
        font-weight:700;
        z-index:-1;
    }
}

.gallery-sub{
    color:$primary-color;
    width:18rem;
    padding-top:0.75rem;
    font-size:1.15rem;
    font-family:arial;
    padding-bottom:2rem;
    // position:relative;
    

    // &::after{
    //     content:"";
    //     display:block;
    //     position:absolute;
    //     width:30rem;
    //     height:20rem;
    //     left:-4rem;
    //     margin-top:2rem;
        
    //     background-image:url("../src/images/impressionen/images\ \(1\).jpg");
    //     background-repeat:no-repeat;
    //     background-size:cover;

    //     outline:solid 5.5px $link-hover; 

    // }
}

.gallery__image-left{
    outline:solid 5.5px $link-hover; 
    margin-bottom:1.3rem;
    width:14rem;
    height:20rem;
    
}

.gallery__image-middle-top{
    outline:solid 5.5px $link-hover; 
    margin-bottom:1.3rem;
    width:26rem;
    height:14em;
}

.gallery__image-middle-second{
    outline:solid 5.5px $link-hover; 
    margin-bottom:1.3rem;
    width:20rem;
    height:24em;
}

.gallery__image-middle-bottom{
    outline:solid 5.5px $link-hover; 
    margin-bottom:2rem;
    width:20rem;
    height:10em;
}

.gallery__image-right-bottom{
    outline:solid 5.5px $link-hover; 
    margin-bottom:2rem;
    width:30rem;
    height:20em;
    position:absolute;
    left:-4.7rem;
}

.impression{
    width:100%;
    height:100%;
}