@use "../variables/" as *;
@use "sass:color";

.header{
    
    height:8rem;
    position:sticky;
    top:0;
    right:0;
    left:0;
    background: $bg__footer-header;
    z-index:9999;
    box-shadow:0 0 1px black;
    border-bottom: $border__footer-header;

    
    
}

.header__logo{
    width:10.5rem;
    margin-top:-2rem;

}

.header__nav{
    display:flex;
    width:100%;
    
    

      
}

.header__nav-list , ul{
    list-style-type:none;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:1.25rem;
    padding-right:1.25rem;
    width:100%;
    
    

}



 .header__example{
     width:100%;
    
}

 .header__example-img{
    width:100%;
    height:27.5rem;
    object-fit:cover;
}

.header__example-position{
    position:relative;
    width:100%;
}

.header__example-content{
    position:absolute;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:25rem;
    height:7.5rem;
    padding:0.5rem;
    text-align: center;
    text-transform:uppercase;
    background:rgba(255,255,255,0.75);
    
}

.header__heading{
    padding-top:0.5rem;
    font-size:2.75rem;
    color:black;
    text-shadow: 0 0 1px black;
    letter-spacing: 0.125rem;
    
}

.header__sub{
    font-size:1.65rem;
    color:$text-sub;
    text-shadow: 0 0 1px black;

}