@use "../variables/" as *;

.offers{
    width:100%;
    display:flex;
    padding-bottom:2rem;
    flex-wrap:wrap;
}

.offers__content-left{
    width:50%;
    padding-top:5rem;
    padding-bottom:1rem;
    padding-left:20%;

    @media(max-width:$breakpoint-lg){
        width:100%;
        padding:5rem 1rem 2rem 10rem;
    }

    @media(max-width:$breakpoint-xs){
        width:100%;
        padding:5rem 1rem 1rem 1rem;
    }
}

.offers-heading{
    font-size:1.5rem;
    color:white;
    position:relative;
    font-family:arial;
    font-weight:600;
    padding-bottom:1.5rem;
    
    &::before{
        content:"Angebot";
        color:rgba(255,255,255,0.15);
        position:absolute;
        font-size:3.5rem;
        left:-10rem;
        top:-2.25rem;
        text-transform:uppercase;
        font-weight:700;

        @media(max-width:$breakpoint-xs){
           left:-1rem;
           right:1rem;
           top:-2.75rem;
        }

    }

}
   
.offers-sub{
    color:$secondary-color;
    padding-top:1rem;
    font-family:arial;
}

.offers__content-right{
    width:50%;
    padding-left:5rem;
    padding-top:5rem;

    @media(max-width:$breakpoint-lg){
        width:100%;
        justify-content:center;
    }

    @media(max-width:$breakpoint-xs){
        padding:2rem 1rem;
     }
}

.offers__heading-skills{

    color:white;
    font-size:1.8rem;

    &::after{
        content:"";
        width:60%;
        max-width:5rem;
        height:2px;
        display:block;
        background-color:$link-hover;
    }
}

.offers__heading-skills-sub{
    color:$secondary-color;
    padding-top:0.5rem;
    padding-bottom:1rem;
    font-size:1.15rem;
}